{% extends 'base.html.twig' %}

{% block title %}ACCES ADMIN | Demande de réinitialisation du mot de passe{% endblock %}

{% block preloader %}
{% endblock preloader %}

{% block body %}
<div class="container mt-5">
    <h1>ACCES ADMIN | Demande de réinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
    <div class="mb-3 mt-5">
        {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(requestForm.email) }}
    </div>

    <div>
        <button class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
