{% extends "base.html.twig" %}

{% block title %}
Galerie Photos - {{ parent() }}
{% endblock title %}

{% block body %}

<div class="inner_body bg_gray">
    <!-- Page Header -->
    <div class="page-header type2">
        <div class="page-header-content text-center">
            <div class="container">
                <h1 class="heading">
                    Galerie photos
                    <span class="icon"><i class="fa fa-camera"></i></span>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed bibendum leo. Mauris <br> massa eleifend et purus vel feugiat rutrum nulla cras vitae est.</p>
                <div class="sign photo-header-gallery"><img src="{{ latestPhoto.filename }} " alt="{{ latestPhoto.title }}"></div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <section class="portfolio-grid pt-0 pb-0">

        <div class="button-group filters-button-group">
            <button class="button is-checked" data-filter="*">Toutes les photos</button>
            {% for category in categories %}
                <button class="button" data-filter=".{{ category.name|lower }}">{{ category.name }}</button>
            {% endfor %}
        </div>

        <div class="grid grid-4 gutter-5 clearfix">
            <div class="grid-sizer"></div>

            {% for photo in photos %}
                <div class="grid-item {{ photo.category.name|lower }}">
                    <div class="thumb">
                        <a class="fancybox" rel="gallery" href="{{ asset(photo.filename) }}" data-thumb="{{ asset(photo.filename) }}">
                            <img class="item-image" src="{{ asset(photo.filename) }}" alt="" data-fancybox="gallery" data-caption="{{ photo.title }}" />
                            <div class="works-info">
                                <div class="label-text">
                                    <h4>{{ photo.title }}</h4>
                                    <h6>{{ photo.category.name }}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

</div>

<script>
    $(document).ready(function() {
        // Set the "Toutes les photos" button as checked
        $('.filters-button-group .button[data-filter="*"]').addClass('is-checked');
    });
</script>

{% endblock body %}
