{% extends "base.html.twig" %}

{% block title %}
	Galerie Vidéos -
	{{ parent() }}
{% endblock title %}

{% block body %}

	<div
		class="inner_body bg_gray">

		<!-- Page Header -->
		<div class="page-header type2">
			<div class="page-header-content text-center">
				<div class="container">
					<h1 class="heading">
						Galerie vidéos
						<span class="icon">
							<i class="fa fa-video"></i>
						</span>
					</h1>
				</div>
			</div>
		</div>
		<!-- End Page Header -->

		<section class="portfolio-grid pt-0 pb-0">

			<div class="button-group filters-button-group">
				<button class="button is-checked" data-filter="*">Toutes les vidéos</button>
				{% for category in categories %}
					<button class="button" data-filter=".{{ category.name|lower }}">{{ category.name }}</button>
				{% endfor %}
			</div>

			<div class="grid grid-4 gutter-5 clearfix">
				<div class="grid-sizer"></div>

				{% for video in videos %}
					<div class="grid-item {{ video.category.name|lower }}">
						<div class="thumb">
							<a class="fancybox" rel="gallery" href="{{ asset('uploads/gallery_videos/' ~ video.filename) }}" data-thumb="{{ asset('uploads/gallery_videos/' ~ video.filename) }}">
								<video controls class="item-video" src="{{ asset('uploads/gallery_videos/' ~ video.filename) }}" type="video/mp4" data-fancybox="gallery"></video>
								<div class="works-info">
									<div class="label-text">
										<h6>{{ video.category.name }}</h6>
									</div>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>

		</section>

	</div>

	<script>
		$(document).ready(function () { // Set the "Toutes les vidéos" button as checked
$('.filters-button-group .button[data-filter="*"]').addClass('is-checked');
});
	</script>

{% endblock body %}
