{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <section>
        <div class="text-center p-5 mb-5 rounded welcome-admin bg-success">
            <h1>Bonjour Rémi !</h1>
            <h2>Bienvenue sur le portail d'administration de ton site.</h2>
        </div>

        <div class="pending-comments mb-5">
            <h3>Témoignages</h3>
            <p class='text-warning'>
                {% if pending_comments|length == 1 %}
                    Tu as 1 témoignage en attente de validation.
                {% elseif pending_comments|length > 1 %}
                    Tu as {{ pending_comments|length }} témoignages en attente de validation.
                {% else %}
                    Aucun témoignage en attente de validation.
                {% endif %}
            </p>

                {% for comment in pending_comments %}
                    <div class="border border-warning p-3">
                        <img class="rounded-circle" src="{{ asset('uploads/comment_images/' ~ comment.image) }}" alt="Image du témoignage">
                        <p>Texte : {{ comment.content }}</p>
                        <p>Auteur : {{ comment.firstname }} {{ comment.lastname }}</p>
                        <p>Date : {{ comment.createdAt|date('d-m-Y') }} à {{ comment.createdAt|date('H:i:s') }}</p>
                        <a class="btn btn-success" href="{{ path('admin_comment_validate', { 'id': comment.id }) }}">Valider ce témoignage</a>
                        <a class="btn btn-danger" href="{{ path('admin_comment_reject', { 'id': comment.id }) }}">Rejeter ce témoignage</a>
                    </div>
                {% endfor %}
        </div>
        <div class="mt-5">
            <a class="mt-5 btn btn-info" href="{{ path('home') }}">Retour au site</a>
        </div>
    </section>
{% endblock %}
