<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Rémi Delecroix Photographe et vidéaste">
        <meta name="author" content="">
        <title>{% block title %}Rémi DELECROIX - Photographe | Vidéaste{% endblock title%}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.css" integrity="sha512-yexU9hwne3MaLL2PG+YJDhaySS9NWcj6z7MvUDSoMhwNghPgXgcvYgVhfj4FMYpPh1Of7bt8/RK5A0rQ9fPMOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock stylesheets %}

    </head>
    {% block preloader %}
        <div class="oculoader">
            <div class="loader"></div>
            <div class="top-side"></div>
            <div class="bottom-side"></div>
        </div>
    {% endblock preloader %}

            {% block header %}
                {% include "components/_header.html.twig" %}
            {% endblock header %}

            <body class="body_box light_mode">
                <div class="wrapper">
                    {% block body %}{% endblock body %}
                </div>

                {% block javascripts %}
                    {{ encore_entry_script_tags('app') }}

                    <script src="{{ asset('js/app.js') }}"></script>
                    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
                    <script src="{{ asset('js/bootstrap.js') }}"></script>
                    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
                    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
                    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
                    <script src="{{ asset('js/swiper.min.js') }}"></script>
                    <script src="{{ asset('js/typed.min.js') }}"></script>
                    <script src="{{ asset('js/menu.js') }}"></script>
                    <script src="{{ asset('js/grid.custom.js') }}"></script>
                    <script src="{{ asset('js/custom.js') }}"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.js" integrity="sha512-vONptKEoKbP1gaC5UkbYDa9OPr04ur4bxaaqT7DAJxGHB2oogtseCPrl5e5hPFokGYotlGNV4d+GM593ka7iNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                {% endblock javascripts %}
            </body>

            {% block footer %}
                {% include "components/_footer.html.twig" %}
            {% endblock footer %}

</html>
