<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Rémi Delecroix Photographe et vidéaste">
        <meta name="author" content="">
        <title>{% block title %}Rémi DELECROIX - Photographe | Vidéaste{% endblock title%}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
            {% endblock stylesheets %}

    </head>
    {% block preloader %}
        <div class="oculoader">
            <div class="loader"></div>
            <div class="top-side"></div>
            <div class="bottom-side"></div>
        </div>
    {% endblock preloader %}

            {% block header %}
                {% include "components/_header.html.twig" %}
            {% endblock header %}
            

            <body class="body_box light_mode">
                <div class="wrapper">
                    {% block body %}{% endblock body %}
                </div>

                {% block javascripts %}
                    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
                    <script src="{{ asset('js/bootstrap.js') }}"></script>
                    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
                    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
                    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
                    <script src="{{ asset('js/swiper.min.js') }}"></script>
                    <script src="{{ asset('js/typed.min.js') }}"></script>
                    <script src="{{ asset('js/menu.js') }}"></script>
                    <script src="{{ asset('js/grid.custom.js') }}"></script>
                    <script src="{{ asset('js/app.js') }}"></script>
                    <script src="{{ asset('js/custom.js') }}"></script>
                {% endblock javascripts %}
            </body>

            {% block footer %}
                {% include "components/_footer.html.twig" %}
            {% endblock footer %}

</html>
