<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="Rémi Delecroix - RDvideographe : photographe et vidéaste professionnel basé en à Lille (FRANCE). Spécialisé en photographie et vidéo de mariage.">
		<meta name="author" content="Rémi DELECROIX, RDvideographe">
		<meta name="keywords" content="Photographie, Vidéo, Rémi Delecroix, Mariage, Mariages, Portrait, Famille, Enfants, Bébé, Grossesse, Naissance, Couple, Nature, Paysage, Animaux, Souvenirs, EVG, EVJF, convention">
		<meta name="robots" content="index, follow">
		<meta property="og:title" content="Rémi DELECROIX - Photographe | Vidéaste">
		<meta property="og:description" content="Rémi Delecroix - RDvideographe : photographe et vidéaste professionnel basé à Lille (FRANCE).">
		<meta property="og:image" content="{{ asset('images/illustration-meta.png') }}">
		<meta property="og:url" content="https://www.remi-delecroix.com/">
		<script type="application/ld+json">{ 
			"@context": "https://schema.org",
			"@type": "Person",
			"name": "Rémi Delecroix - RDvideographe",
			"jobTitle": "Photographe et vidéaste",
			"url": "https://www.remi-delecroix.com/",
			"sameAs": ["https://www.facebook.com/p/RDvideographe-100067620573889", "https://www.linkedin.com/in/remi-delecroix-227232137", "https://www.instagram.com/2lec"],
			"image": "{{ asset('images/illustration-meta.png') }}"
			}
		</script>

		<title>
			{% block title %}Rémi DELECROIX - Photographe | Vidéaste
			{% endblock title%}
		</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock stylesheets %}
	</head>
	{% block preloader %}
		<div class="oculoader">
			<div class="loader"></div>
			<div class="top-side"></div>
			<div class="bottom-side"></div>
		</div>
	{% endblock preloader %}

	{% block header %}
		{% include "components/_header.html.twig" %}
	{% endblock header %}

	<body class="body_box light_mode">
		<div class="wrapper"> {% block body %}{% endblock body %}
			</div>

			<!-- Bouton de retour en haut -->
			<button id="scrollToTopContainer">
				<img src="{{ asset('images/arrow-up.png') }}" alt="Retour en haut">
			</button>

			{% block javascripts %}
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
				<script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
				<script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
				<script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.6/js/swiper.min.js" integrity="sha512-PbIsZpsN9MwxVSnLIYDpDTMYvsmJy1wB4TCRnJiJ5+YQIVChOOpTEUiJllYHrdk6xaVAegvBDkYSlwIg38Xr0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
				<script src="{{ asset('js/typed.min.js') }}"></script>
				<script src="{{ asset('js/menu.js') }}"></script>
				<script src="{{ asset('js/grid.custom.js') }}"></script>
				<script src="{{ asset('js/app.js') }}"></script>
				<script src="{{ asset('js/custom.js') }}"></script>
			{% endblock javascripts %}

			{% block footer %}
				{% include "components/_footer.html.twig" %}
			{% endblock footer %}
		</body>
	</html>
