{% extends "base.html.twig" %}

{% block title %}
	Galerie Famille -
	{{ parent() }}
{% endblock title %}

{% block body %}

	<div
		class="inner_body bg_gray">
		<!-- Page Header -->
		<div class="page-header type2">
			<div class="page-header-content text-center">
				<div class="container">
					<h1 class="heading">
						Famille
						<span class="icon">
							<i class="fa fa-camera"></i>
						</span>
					</h1>
					<div class="sign photo-header-gallery"><img src="{{ asset('uploads/gallery_photos/' ~ randomPhoto.filename|replace({'.jpg': '.webp', '.jpeg': '.webp', '.png': '.webp'})) | imagine_filter('thumb_big') }}" alt="{{ randomPhoto.description }}"></div>
				</div>
			</div>
		</div>
		<!-- End Page Header -->

		<section class="portfolio-grid pt-0 pb-0">

			{% include "components/_stickyMenu.html.twig" %}

			<div class="grid grid-4 gutter-5 clearfix">
				<div class="grid-sizer"></div>

				{% for photo in photos %}
					<div class="grid-item {{ photo.category.name|lower }}">
						<div class="thumb">
							<a class="fancybox" rel="gallery" href="{{ asset('uploads/gallery_photos/' ~ photo.filename|replace({'.jpg': '.webp', '.jpeg': '.webp', '.png': '.webp'})) | imagine_filter('thumb_small') }}" data-thumb="{{ asset('uploads/gallery_photos/' ~ photo.filename|replace({'.jpg': '.webp', '.jpeg': '.webp', '.png': '.webp'})) }}">
								<img class="item-image" data-src="{{ asset('uploads/gallery_photos/' ~ photo.filename|replace({'.jpg': '.webp', '.jpeg': '.webp', '.png': '.webp'})) | imagine_filter('thumb_big') }}" alt="{{ photo.description }}" loading="lazy" data-fancybox="gallery"/>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<!-- Affichage des liens de pagination -->
			<div class="pagination">
				{{ knp_pagination_render(photos) }}
			</div>
		</section>
	</div>

	<div class="page_title">
		<span>Famille</span>
	</div>

{% endblock body %}
