{% extends "base.html.twig" %}

{% block title %}
	Témoignages -
	{{ parent() }}
{% endblock title %}

{% block body %}

	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">
			{{ flashMessage }}
		</div>
	{% endfor %}

	<div
		class="inner_body bg_gray">
		<!-- Page Header -->
		<div class="page-header type2">
			<div class="page-header-content text-center">
				<div class="container">
					<h1 class="heading">
						Témoignages
						<span class="icon">
							<i class="fa fa-comments"></i>
						</span>
					</h1>
					<div class="banner-testimonials"><img src="{{ asset('images/banner-testimonials.jpg')}}" alt="image d'un stylo plume">
						<div class="button_group testimonials_button-block">
							<a href="{{ path('testimonials_new') }}" class="button effect_5 black_button">
								<span>Ajouter votre témoignage</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Header -->

		<section class="testimonials bg_gray">
			<div class="container col-md-10 col-11">

				{% for comment in comments %}
					<div class="testibox1 testimonial-block mb-3">
						<div class="row d-flex align-items-center">
							<div class="col-lg-2">
								<div class="row testi-profile p-2">
									<div class="testi-name mb-2">
										<h4>
											{{ comment.firstname }}
											{{ comment.lastname }}
										</h4>
									</div>
									<div class="testi-img">
										{% if comment.image %}
											<img src="{{ asset('uploads/comment_images/' ~ comment.image) }}" alt="{{ comment.image }}" class="rounded-circle">
										{% else %}
											<img src="{{ asset('images/comment/default-user-silhouette.png') }}" alt="Image par défaut">
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-md-10 m-auto">
								<div class="testi-content">
									<p>{{ comment.content | nl2br }}</p>
									<span class="publication-date">Publié le
										{{ comment.createdAt|date('d-m-Y') }}
										à
										{{ comment.createdAt|date('H:i:s') }}</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				<!-- Affichage des liens de pagination -->
				<div class="pagination">
					{{ knp_pagination_render(comments) }}
				</div>

			</div>
		</section>

	</div>

	<div class="page_title">
		<span>Témoignages</span>
	</div>

{% endblock body %}
